/* Museum styles */

#WebGL-output {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
}
/* Fonts */
@font-face {
    font-family: 'salsaregular';
    src: url('../fonts/salsa-regular-webfont.woff2') format('woff2'),
    url('../fonts/salsa-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'happy_monkeyregular';
    src: url('../fonts/happymonkey-regular-webfont.woff2') format('woff2'),
    url('../fonts/happymonkey-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
}
.mainTitle {
    margin: 1%;
}
.mainTitle span {
    font-size: 2vw;
    font-family: 'salsaregular';
    color: white;
}
.mainTitle img {
    width: 12.5%;
}
.instructions p {
    font-size: 1.2vw;
    font-family: 'happy_monkeyregular';
    color: white;
}
.noDisplay {
    display: none;
}
.centred {
    text-align: center;
}
.infoPanel {
    position: absolute;
}
#notSupported {
    background: #a9434a;
    border-radius: 15px;
    color: black;
    padding: 2%;
}
#notSupported {
    top: 25%;
    left: 33.333%;
    width: 33.333%;
}
.progress {
    margin: 0 20%;
}
.questionContainer {
    margin: 2% 0 1% 10%;
}
.questionContainer p {
    font-size: 1.6vw;
    color: white;
}
.questionImage img {
    position: absolute;
    top: 1%;
    left: 0;
    width: 40%;
}
.row {
    margin-bottom: 5%;
}