/* Museum styles */

#WebGL-output {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
}
/* Fonts */
@font-face {
    font-family: 'salsaregular';
    src: url('../fonts/salsa-regular-webfont.woff2') format('woff2'),
    url('../fonts/salsa-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'happy_monkeyregular';
    src: url('../fonts/happymonkey-regular-webfont.woff2') format('woff2'),
    url('../fonts/happymonkey-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
}
.page-wrapper {
    height: 100vh;
}
.indent {
    margin-left: 10%;
}
.quizTitle {
    margin-top: 5vh;
}
.quizTitle p,
.quizTitle span {
    font-size: 4vw;
    font-family: 'salsaregular';
    color: white;
}
.quizTitle img {
    width: 25%;
}
.mainTitle {
    margin-top: 15vh;
}
.mainTitle p,
.mainTitle span {
    font-size: 7.5vw;
    font-family: 'salsaregular';
    color: white;
}
.mainTitle img {
    width: 25%;
}
.instructions {
    margin: 7vh 0 7vh 0;
}

.instructions p {
    font-size: 4vw;
    font-family: 'happy_monkeyregular';
    color: white;
}
.noDisplay {
    display: none;
}
.centred {
    text-align: center;
}
.infoPanel {
    position: absolute;
}
#notSupported {
    background: #a9434a;
    border-radius: 15px;
    color: black;
    padding: 2%;
}
#notSupported {
    top: 25%;
    left: 33.333%;
    width: 33.333%;
}
.progress {
    margin: 0 20%;
}
.questionContainer {
    margin: 20% 0 0 5%;
}
.questionContainer p {
    font-family: "happy_monkeyregular";
    font-size: 6vw;
    color: white;
}
.questionImage img {
    position: absolute;
    top: 1%;
    left: 0;
    width: 100%;
}
.questionContainer .row {
    margin-bottom: 12.5%;
}
.responseImage {
    margin-top: 0%;
    padding: 0 0 0 1%;
}
.responseImage img {
    width: 300%;
}
#playContainer {
    margin-top: 9vh;
}
#playContainer img {
    width: 25%;
}
#restartContainer {
    top: 40%;
    left: 42.5%;
    width: 12.5%;
}
#restartContainer img {
    width: 100%;
}
#timeOut {
    top: 18%;
    left: 40%;
    width: 20%;
}
#timeOut img {
    width: 75%;
}
#getReady {
    top: 40%;
    left: 42.5%;
    width: 12.5%;
}
#getReady img {
    width: 100%;
}
#summary,
#finished {
    margin-top: 25%;
    font-size: 4vw;
    color: white;
    padding: 5%;
    font-family: "happy_monkeyregular";
}
#summary img {
    width: 25%;
}
#tryAgainContainer {
    margin-top: 5%;
}
#endImageContainer img {
    width: 100%;
}
/* Media queries */
@media (min-width: 568px) {
    .quizTitle p,
    .quizTitle span {
        font-size: 3vw;
    }
    .quizTitle img {
        width: 20%;
    }
    .instructions p {
        font-size: 2.5vw;
    }
    .instructions {
        margin-top: 5vh;
    }
    #playContainer img {
        width: 20%;
    }
    #playContainer {
        margin-top: 2vh;
    }
    .mainTitle {
        margin-top: 1vh;
    }
    .mainTitle p,
    .mainTitle span {
        font-size: 4vw;
    }
    .questionContainer {
        margin-top: 5%;
    }
    .questionContainer p {
        font-size: 3.2vw;
    }
    .questionContainer .row {
        margin-bottom: 3.5%;
    }
    .responseImage {
        margin-top: 0.75%;
    }
    .responseImage img {
        width: 200%;
    }
    #summary {
        margin-top: 2%;
    }
    #finished {
        margin-top: 1%;
    }
    #endImageContainer img {
        width: 30%;
    }
}
@media (min-width: 768px) {
    .quizTitle {
        margin-top: 15vh;
    }
    .quizTitle img {
        width: 25%;
    }
    .instructions p {
        font-size: 3vw;
    }
    #playContainer img {
        width: 25%;
    }
    #playContainer {
        margin-top: 7vh;
    }
}
@media (min-width: 1200px) {
    .quizTitle {
        margin-top: 5vh;
    }
    .quizTitle p,
    .quizTitle span {
        font-size: 2.5vw;
    }
    .instructions p {
        font-size: 2vw;
    }
    .instructions {
        margin-top: 3vh;
    }
    #playContainer img {
        width: 18.5%;
    }
}